body {
  font-size:   100%;
  line-height: 1.125em;
  font-family: "Helvetica Neue", Helvetica, Arial;  
  background: #E5E5E5 url(/images/topbg.png) repeat-x;
}

a {
  color: #1a3d85;
}

a:hover {
  color: #004CEB;
}

a:visited {
  color: #1a3d85;
}

#logo {
  margin: 20px 0 10px 0;
  display: inline-block;
  text-indent:-5000px;
  background: url(/images/logo.png);
  width: 300px;
  height: 84px;
}

.navigation {
  margin-top: 10px;
  font-weight: 600;
  font-size:  1.2em;
  color: #1a3d85;
  padding: 15px 0;

  box-shadow: 0px 0px 4px #9D9D9D;
  -webkit-box-shadow: 0px 0px 4px #9D9D9D;
  -moz-box-shadow: 0px 0px 4px #9D9D9D;
    background-image: -moz-linear-gradient(top, #FEFEFE, #EBEBEB); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FEFEFE),color-stop(1, #EBEBEB)); /* Saf4+, Chrome */
              filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#EBEBEB'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#EBEBEB')"; /* IE8 */
}

.navigation ul {
  margin-left: 20px;
}
.navigation li {
  display: inline;
  padding: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: #1a3d85;
}
.navigation a:hover {
  text-decoration: underline;
}

#content {
  padding: 20px 0;
  background-color: #E3ECFF;
  min-height: 400px;
  font-size: 1.1em;
  line-height: 1.3em;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #BCBCBC;
  box-shadow:          0px 2px 5px #9D9D9D;
  -webkit-box-shadow:  0px 2px 5px #9D9D9D;
  -moz-box-shadow:     0px 2px 5px #9D9D9D; 
  
  background-image: -moz-linear-gradient(top, #F7F9FF, #E3ECFF); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F7F9FF),color-stop(1, #E3ECFF)); /* Saf4+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#F7F9FF', EndColorStr='#E3ECFF'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F7F9FF', EndColorStr='#E3ECFF')"; /* IE8 */
  
  
  
}

#content p, #content table, #content ul {
  margin: 0 20px;
}

#content h1, #content h2, #content h3 {
  font-family: "Helvetica Neue", Helvetica, Arial;  
  font-weight: 200;
  color: #b72106;
  margin-left: 20px;
  margin-bottom: 0.4em;
  display: inline-block; 
}
#content h1 {
  font-size: 2.1em;
  font-weight: 500;
  color: #1a3d85;
  margin-top: 10px;
  margin-bottom: 30px;
}

#content h2 {
  font-size: 1.0em;
  font-weight: 400;
  border-bottom: 3px solid #1a3d85;
}

#content h4.sponsors, #content h4.twitter {
  font-weight: 800;
  font-size: 1em;
  color: #8A8A8A;
  margin-bottom: 12px;
  border-bottom: 1px solid #8A8A8A;
}

#content h4.sponsors {
  margin-left: 20px;
  margin-right: 20px;
}


#content p {
  margin-bottom: 0.85em;
  color: #374051;
}

#content table {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 0.85em;
}

#content th {
  text-align: left;
  min-width: 150px;
}


.footer {
  text-align: right;
  font-weight: 500;
  padding: 10px 0px;
  background-color: #FEFEFE;
  box-shadow:         0px 2px 4px #9D9D9D;
  -webkit-box-shadow: 0px 2px 4px #9D9D9D;
  -moz-box-shadow:    0px 2px 4px #9D9D9D;
  margin-bottom: 20px;
  
  box-shadow: 0px 0px 4px #9D9D9D;
  -webkit-box-shadow: 0px 0px 4px #9D9D9D;
  -moz-box-shadow: 0px 0px 4px #9D9D9D;
    background-image: -moz-linear-gradient(top, #EBEBEB, #FEFEFE); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EBEBEB),color-stop(1, #FEFEFE)); /* Saf4+, Chrome */
              filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#EBEBEB', EndColorStr='#FEFEFE'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EBEBEB', EndColorStr='#FEFEFE')"; /* IE8 */
}

.footer li {
  display: inline;
  padding: 0 15px;
}

.footer a {
  text-decoration: none;
  color: #1a3d85;
}
.footer a:hover {
  text-decoration: underline;
}

/* Twitter Box */
.twtr-tweet-text p {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 1.2em;
}

#twtr-widget-1 h3 {
  margin-left:  10px !important;
  margin-top:    5px !important;
  font-size:   1.4em !important;
  font-weight: 600   !important;
}

#twtr-widget-1 h4 {
  display: none;
}
  
img.twtr-profile-img {
  border: 2px solid #999 !important;
}

#twtr-widget-1 {
  margin-bottom: 20px;
}

.image_border {
  border: 1px solid #CECECE;
}

.sponsor {
  padding: 10px 30px;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.vortraege .datum {
  width: 100px;
}

.vortraege .thema {
  width: 450px;
  margin-right: 20px;
}

#googlegroups {
  padding: 10px 20px 0 20px;
  background-color: #fff;
  border: 5px solid #E5E5E5;
}

label {
  margin: 0 10px 0 5px;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
}

/*
  Awesome CSS Buttons by:
    http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba  
*/

.awesome, .awesome:visited {
  background: #222 url(/images/alert-overlay.png) repeat-x; 
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

  .awesome:hover              { background-color: #111; color: #fff; }
  .awesome:active             { top: 1px; }
  .small.awesome, .small.awesome:visited      { font-size: 11px; padding: ; }
  .awesome, .awesome:visited,
  .medium.awesome, .medium.awesome:visited    { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
  .large.awesome, .large.awesome:visited      { font-size: 14px; padding: 8px 14px 9px; }
  
  .green.awesome, .green.awesome:visited    { background-color: #91bd09; }
  .green.awesome:hover            { background-color: #749a02; }
  .blue.awesome, .blue.awesome:visited    { background-color: #2daebf; }
  .blue.awesome:hover             { background-color: #007d9a; }
  .red.awesome, .red.awesome:visited      { background-color: #e33100; }
  .red.awesome:hover              { background-color: #872300; }
  .magenta.awesome, .magenta.awesome:visited    { background-color: #a9014b; }
  .magenta.awesome:hover              { background-color: #630030; }
  .orange.awesome, .orange.awesome:visited    { background-color: #ff5c00; }
  .orange.awesome:hover             { background-color: #d45500; }
  .yellow.awesome, .yellow.awesome:visited    { background-color: #ffb515; }
  .yellow.awesome:hover             { background-color: #fc9200; }