- content_for :title, "Kontakt"

.grid_11
  %h1
    Kontakt
  %p
    %em
      (Initiator &amp; Koordinator)    
  %p
    Roland Moriz
    %br
    Hedwig-Dransfeld-Alle 14
    %br
    80637 München
  %p
    %a{:href=> 'mailto:&#114;&#111;&#108;&#97;&#110;&#100;&#64;&#109;&#111;&#114;&#105;&#122;&#46;&#100;&#101;'}
      E-Mail Kontakt
    
  %p
    %a{:href=> 'http://www.disclaimer.de/disclaimer.htm'} Haftungsausschluss
