- content_for :title, "Sponsoren"

.grid_11.omega
  %h1
    Sponsoren und Unterstützer
  %p
    Wir freuen uns jederzeit über Unterstützung, insbesondere über Veranstaltungsorte für 20 oder mehr Personen mit Beamer für unsere Treffen.
    %a{:href => '/orga'} Kontakten Sie uns!
.grid_11.alpha.omega
  %h4.sponsors
    Sponsoren:
  .center
    = sponsor_helper
